.headline {
  background-color:rgb(237, 219, 237);
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(237, 219, 237) ;
  padding-right: 5px;
}

.logo {
  display: inline-block;
  font-size: 55px;
  margin-left: 20px;
  text-align: left;
  color: rgb(210, 35, 125);
  padding: 0px;
  margin: 1%;
  text-decoration: none; 
}

.links {
  font-size: 55px;
  display: inline-block;
  text-align: right;
}

.morebutton {
  font-size: 50px;
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: white;
  height: 55px;
  width: 55px;
  overflow: hidden;
  background: transparent;
  margin: 0px;
  flex-direction:column;
  text-align: center;
  float: right;
  transition: background-color 1s;
  color: rgb(210, 35, 125);
  vertical-align: bottom;
  z-index: 1;
}

.morebutton:hover {
  cursor: pointer;
  display: inline-flex;
  height: 700px;
  width: 300px;
  background: rgb(238, 121, 181);
  border-radius: 10px;
  z-index: 1;
}

.flex-item {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  text-decoration-line: none;
  color: rgb(234, 177, 235);
  font-family: 'Montserrat Alternates', sans-serif;

}

.servicesandpricing, .bookanappt, .contactme, .gallery, .about {
  text-decoration: none;
  text-decoration-line: none;
  color: rgb(237, 219, 237);
  transition: color 1s;
}

.servicesandpricing:hover, .bookanappt:hover, .contactme:hover, .gallery:hover, .about:hover {
  color:rgb(210, 35, 125);
}

.img1 {
  height: 300px;
  width: 99%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: -1; 
  display: block;  
}

.h1 {
  padding-top: 100px;
  color:rgb(237, 219, 237);
  text-shadow: 2px 2px 3px rgb(210, 35, 125);
  position: fixed;
  left: 50%;
  transform: translateX(-50%); 
  font-size: 50px;
}

.h2 { 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed; 
  color:rgb(210, 35, 125);
  font-size: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: none; 
}

.services {
  position: fixed; 
  display: inline-block; 
  text-align: center;
  margin-left: 12%;
  top: 55%;
  z-index: -1;
  font-family: 'Montserrat Alternates', sans-serif;
}

.warmsoak, .cuticlework, .exfoliating {
  font-size: 30px; 
  display: inline-block;
  width: 300px;
  vertical-align: top;
  color:rgb(238, 121, 181);
  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.warmsoak, .cuticlework {
  margin-right: 100px;
}

.flower {
  font-size: 80px;
  color:rgb(210, 35, 125);
}

.bringfriend {
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  position: fixed; 
  color:rgb(210, 35, 125);
  background-color:rgb(237, 219, 237);
  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: none;  
  text-align: center; 
  width: 1500px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: font-size 1s, opacity 1s;
}

.bringfriend:hover {
  opacity: 0.7;
  font-size: 35px;
}
